# Python
.venv/
env/                    # Ignore this if it's not needed
*.pyc
__pycache__/
db.sqlite3             # If you're using SQLite locally (optional)
.env                   # For Django environment variables (if applicable)

# Django
*.log
staticfiles/
media/

# React
frontend/node_modules/
frontend/build/
frontend/.env.local    # For React environment variables

# IDE specific files
.vscode/
*.sublime-project
*.sublime-workspace
